.picker {
  text-align: center;
}
.picker::placeholder {
    color: lightgray;
}
.picker-time-face {
  font-family: monospace;
}
.picker-face {
  display: inline-block;
  text-align: center;
  padding:0.4em 0em;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.picker-dial {
  display: inline-block;
  text-align: center;
  padding:0.4em 0em;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.picker-fa {
  display: inline-block;
  font-size:1em;
  border:1px solid #ced4da;
  border-radius: 0.25em;
  padding:0.1em 0.3em !important;
  /* background-color:#e9ecef; */
  background-color:#ffffff;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.picker-fa:hover {
  background-color:#798892;
  color:white;
  cursor:pointer;
}